@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

/* Global */
:root {
    --dark-colour: #8a8875;
    --light-colour: #fffdf0;
    --brand-colour-yellow: #f1ca4a;
    --brand-colour-light: #a20da5;    
    --brand-colour-mid: #6a0f60;
    --brand-colour-dark: #41043e;
    --brand-colour-black: #230531;
    --brand-colour-transparent: #1a01268c;
    --font-ratio: 1.25;
    --main-heading: calc(2.5rem * var(--font-ratio));
    --about-heading: calc(1.875rem * var(--font-ratio));
    --socials-heading: calc(1.375rem * var(--font-ratio));
    --body-text: calc(1.125rem * var(--font-ratio));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: var(--brand-colour-black);
}
body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 64rem;
    margin: 2rem auto;
    border: solid 0.3125rem var(--light-colour);
    border-radius: 0.25rem;
    box-shadow: 0 0 0.625rem var(--brand-colour-yellow);
}

/* Header */
header {
    width: 100%;
    background-color: var(--brand-colour-dark);
    border-bottom: solid 0.125rem var(--light-colour);
}
nav {
    padding: 0.625rem;
    text-align: right;
}
.logo {
    max-width: 2rem;
}
#menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}
#menu a {
    text-decoration: none;
    color: var(--light-colour);
    padding: 1.25rem 0;
}
#menu-toggle {
    display: none;
    background-color: var(--brand-colour-dark);
    color: var(--light-colour);
    border: none;
}
#menu.active {
    display: flex;
}

/* Hero */
.hero {
    min-height: 25rem;
    background-image: radial-gradient(circle, var(--brand-colour-transparent) 20%, var(--brand-colour-black) 100%), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-main, .hero-sub {
    background-color: var(--brand-colour-transparent);
    padding: 0.7rem;
    color: var(--brand-colour-yellow);
    text-align: center;
}
.hero-main {
    font-size: var(--main-heading);
    font-weight: 700;
}
.hero-sub, li {
    font-size: var(--body-text);
    font-weight: 500;
}

/* Section */
section {
    max-width: 65rem;
    margin: auto;
}

/* About / Socials */
.about, .socials {
    background-color: var(--brand-colour-mid);
    color: var(--brand-colour-yellow);
    border-top: solid 0.125rem var(--light-colour);
    text-align: center;
}
.about-heading {
    margin: auto;
    padding-top: 1.5rem;
    font-size: var(--about-heading);
}
.about-body {
    margin: auto;
    padding: 1.875rem;
    max-width: 70ch;
    font-size: var(--body-text);
    color: var(--light-colour);
}
.social-links {
    margin: auto;
    padding: 1rem 0 2rem 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
.socials-heading {
    margin: auto;
    padding: 2rem 0 1rem 0;
    font-size: var(--socials-heading);
}

/* Video Gallery */
.videos {
    padding: 1rem;
    background-color:  var(--brand-colour-light);
    border-top: solid 0.125rem var(--light-colour);
}
.videos-thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.videos-thumbnails img {
    width: 100%;
    height: 11rem;
    object-fit: cover;
    border: solid 0.125rem var(--light-colour);
}
.videos h3 {
    margin: 1rem;
    text-align: center;
    color: var(--brand-colour-yellow);
    font-size: var(--socials-heading);
}

/* Footer */
footer ul {
    margin: 0;
    padding: 1.5rem;
    background-color: var(--brand-colour-dark);
    border-top: solid 0.125rem var(--light-colour);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

/* Links */
li {
    list-style: none;
    margin: 0.625rem;
    max-height: 2rem;
}
li a:link {
    color: var(--light-colour);
    background-color: transparent;
    text-decoration: none;
}
li a:visited {
    color: var(--light-colour);
}
li a:hover {
    text-shadow: 0rem 0rem 1rem var(--brand-colour-yellow);
}
li a:active {
    color: var(--brand-colour-black);
}

/* Media Queries */

/* media query for laptop - less than 1024px/64rem */
@media screen and (max-width:64em) {
    :root {
        --font-ratio: 1.2;
    }
    .wrapper {
        margin: 0 auto;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
}

/* media query for tablet - less than 768px/48rem */
@media screen and (max-width:48em) {
    :root {
        --font-ratio: 0.9;
    }
    .hero {
        min-height: 20rem;
    }
    .social-links {
        gap: 1.25rem;
    }
    .videos-thumbnails {
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
    }
    .videos-thumbnails img {
        height: 12.6rem;
    }
}

/* media query for mobile - less than 480px/30rem */
@media screen and (max-width: 30em) {
    :root {
        --font-ratio: 0.75;
    }
    #menu-toggle {
        display: inline;
    }
    #menu {
        display: none;
        position: absolute;
        flex-direction: column;
        right: 1rem;
        background-color: var(--brand-colour-dark);
        border: solid 0.125rem var(--light-colour);
        border-radius: 0.25rem;
        box-shadow: 0 0 0.125rem var(--brand-colour-yellow);;
        padding: 1.25rem;
    }
    .hero {
        min-height: 15rem;
    }
    .about-body {
        padding: 1.25rem;
    }
    .videos-thumbnails {
        grid-template-columns: 1fr;
        gap: 0.6rem;
    }
    .videos-thumbnails img {
        height: 16rem;
    }
    footer ul{
        gap: 1rem;
    }
}